input[type = "password"], input[type = "text"], select{
    border: 2px solid #4e82be;
}
#logout{
    font-size : 20px;
    font-family: "Times New Roman";
    font-weight: bolder;
    text-decoration: none;
    float: right;
    margin: 1% 5%;
}

#back{
    text-decoration: none;
}