#container{
    margin-top: 10%;
}

#logout{
    font-size : 20px;
    font-family: "Times New Roman";
    font-weight: bolder;
    text-decoration: none;
    float: right;
    margin: 1% 5%;
}

#menu a{
    color: #4e82be;
    font-size : 30px;
    font-family: "Times New Roman";
    font-weight: bolder;
    text-decoration: none;
}

input[type = "button"]{
    display: inline-block;
    text-align: center;
    border : solid 3px #0282ea;
    border-radius : 6px;
    moz-border-radius : 6px;
    font-size : 20px;
    color : #ffffff;
    padding : 5px 20px;
    background-color : #0a66c9;
}